---
layout: default
---


<!--
Computer Systems: Security and Privacy
Computer Systems: Applications: Machine Learning
Signals and Systems: Deep Learning
-->

<div class="container mt-3">
<div class="row debug">
<div class="col-12
            col-sm-12
            col-md-5
            col-lg-4
            col-xl-3">

  <div class="row debug justify-content-center">

    <div class="col-8 debug
                col-sm-6
                col-md-12
                col-lg-12
                col-xl-12">

      <div class="clipme mb-3"><img class="huh img-fluid" src="images/self_perplexed.jpeg"/></div>

      <img class="rounded img-fluid mb-2" src="images/science.jpeg"
	   onclick="toggleSummary();"/>
    </div>

    <div class="col-12 debug
                col-sm-6
                col-md-12
                col-lg-12
                col-xl-12">
    <h2 class="d-block d-md-none">Piotr (Peter) Mardziel</h2>

      <div class="row debug">
        <div class="col-6 col-sm-12 col-md-6">
	  <span class="nobreak">CMU Silicon Valley</span><br/>
	  Office: <span class="nobreak">B23 114</span><br/>
          <a href="mailto:piotrm@gmail.com">piotrm@gmail.com</a><br/>

          <span class="icon"><img src="images/icon_github.svg"/></span>
	  <a href="https://github.com/piotrm0"><span>piotrm0</span></a><br/>

	  <span class="icon"><img src="images/icon_bitbucket.svg"/></span>
          <a href="https://bitbucket.org/piotrm"><span>piotrm</span></a><br/>

          <span class="icon"><img src="images/icon_twitter.svg"/></span>
	  <a href="https://twitter.com/piotrm0"><span>piotrm0</span></a><br/>
        </div>

        <div class="debug col-6 col-sm-12 col-md-6">
          <a href="http://fairlyaccountable.org">ASL@CMU</a><br/>
          <a href="http://www.cmu.edu">CMU</a><br/>
          <a href="http://www.ece.cmu.edu">CMU ECE</a><br/>
          <a href="http://www.cylab.cmu.edu">CyLab</a><br/>
          <a href="http://www.cs.umd.edu/projects/PL/">PLUM</a><br/>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="debug col-12 col-sm-12 col-md-7 col-lg-8 col-xl-9">

  <div class="debug row">

    <div class="debug col-12">

      <h2 class="d-none d-md-block"><a name="about1">Piotr (Peter) Mardziel</a></h2>
      <h2 class="d-block d-md-none"><a name="about2">About me</a></h2>
      <p>
        I'm a system<b>s</b> scientist
        at <a href="http://www.cmu.edu">CMU</a> <a href="http://www.ece.cmu.edu">ECE</a>
        where
	<span id="complex"> I work on transparency and accountability in machine learning with
          applications to privacy and fairness.
	</span>
	<span id="simple"
	      style="display: none; font-family: 'Comic Sans MS', cursive, sans-serif;">
	  I work on making computers explain themselves. I want to make sure computers do not learn
	  sad things from the sad world or remember things about us we would rather they not. This
	  makes the world not as sad and computers not as bad. Woof woof.
	</span>
      </p>

      <p>
        Previously I was a PhD student and post-doc in the Programming Languages at University of
        Maryland (<a href="http://www.cs.umd.edu/projects/PL/">PLUM</a>) group where I worked on
        probabilistic programming with applications for privacy and quantitative information flow.
        According to CMU's keywords, my interests are:

	<div class="keywords col"> <!-- long -->
	  <ul>
	    <li><small>Computer Systems: Security and Privacy:</small><br/>
	      <span>Foundations and Formal Methods</span>,
	      <span>Analytics and Machine Learning</span></li>

	    <li><small>Signal Processing, Communications and Controls: Theoretical
	    Foundations:</small><br/>
	      <span>Information Theory</span></li>

	    <li><small>Computer Systems: Application Domains:</small><br/>
	      <span>Machine learning</span></li>

	    <li><small>Signal Processing, Communications and Controls: Data Science:</small><br/>
	      <span>Machine Learning</span>,
	      <span>Deep Learning</span>
	    </li>
	  </ul>
	</div>
      </p>

    </div>

    <!--
	<li>Accountability in ML</li>
	<ul>
	  <li>Privacy and Fairness</li>
	  <li>Interpretability</li>
	</ul>
    <li>Programming Languages</li>
    <ul>
      <li>Static Analysis</li>
      <li>Information Flow</li>
      <li>Probabilistic Programming</li>
    </ul>
    -->

    <!--div class="keywords col">
      <h3>CMU Keywords</h3>
      <ul>
	<li>Computer Systems: Security and Privacy</li>
	<ul>
	  <li>Analytics and Machine Learning</li>
	  <li>Foundations and Formal Methods</li>
	</ul>
	<li>Computer Systems: Application Domains</li>
	<ul>
	  <li>Machine learning</li>
	</ul>
	<li>Signal Processing, Communications and Controls: Data Science</li>
	<ul>
	  <li>Machine Learning</li>
	  <li>Deep Learning</li>
	</ul>
	<li>Signal Processing, Communications and Controls: Theoretical Foundations</li>
	<ul>
	  <li>Information Theory</li>
	</ul>
      </ul>
    </div-->

    {%- for epoch in site.data.projects -%}
    <div class="debug col-12">
      <h2><a name="{{ epoch[0] }}">{{ epoch[0] }}</a></h2>
      <ul class="debug row">
	{% for project_dict in epoch[1] %}
	{% assign project_name = project_dict[0] %}
	{% assign project = project_dict[1] %}
	<li class="debug col-12 col-xl-6 pr-5 pl-1 mb-2">
	  {{ project_name }}
	  {% if project.link_url %}
	  <br/><a href="{{ project.link_url }}">{{ project.link_name }}</a>
	  {% else %}
	  <a href=""></a>
	  {% endif %}
	    {% if project.collabs %}
	    <br/><small>with {{ project.collabs }}</small>
	  {% endif %}
	</li>
	{% endfor %}
      </ul>
    </div>
    {%- endfor -%}

    <div class="debug col-12">
      <h2><a name="service">Service</a></h2>
      <div class="debug row">

	{%- for dict in site.data.service -%}
	{%- assign type = dict[0] -%}
	{%- assign items = dict[1] -%}

	<div class="debug col-12">
	  <h3>{{ type }}</h3>
	  <ul class="debug row">
	    {%- for item_dict in items -%}
	    {%- assign short = item_dict[0] -%}
	    {%- assign item = item_dict[1] -%}
	    {%- assign venue = site.data.venues[short] -%}
	    <li class="debug col-12 col-xl-6 pl-1 pr-5 mb-2">
	      {{ venue.org }}

	      {% if item.url -%}
	      <a href="{{ item.url }}">{{ venue.long }}</a>
	      {%- else -%}
	      <a href="{{ vnue.url }}">{{ venue.long }}</a>
	      {%- endif %}

	      ({{ short }})

              <small>{{ item.years }}</small>

	    </li>
	    {%- endfor -%}
	  </ul>
	</div>
	{%- endfor -%}

      </div>
    </div>

    <!--
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
          <h2>topics</h2>
          <TMPL_INCLUDE NAME="../build/pubs/topics.shtml"/>
        </div>
        -->

    {%- for paper_types in site.data.papers -%}

    <div class="debug col-12">
      <h2><a name="papers">{{ paper_types[0] }}</a></h2>

      <ul class="debug row">

	{%- for paper_dict in paper_types[1] -%}
	{%- assign ref = paper_dict[0] -%}
	{%- assign paper = paper_dict[1] -%}
	{%- assign venue_short = paper.venue -%}
	{%- assign venue = site.data.venues[venue_short] -%}

	<li class="debug col-12 col-xl-6 pl-1 pr-5 mb-2">
	  <a href="{{ paper.pdf }}"><span class="icon-item"><img src="images/icon_pdf.png"/></span></a>
	  <a href="{{ paper.pdf }}">{{ paper.title }}</a>.<br/>
	  <small>
	    {%- if venue.long -%}
	    {{ venue.long }} ({{ venue_short }})
	    {%- else -%}
	    {{ venue_short }}
	    {%- endif -%}
	  </small>.

	  <small>{{ paper.year }}</small>.<br/>

	  <small>
	    {%- for author_name in paper.authors -%}
	    {% assign author = site.data.authors[author_name] %}
	    <a href="{{ author.url }}">{{ author_name }}</a>{% if forloop.last %}{% else %}, {% endif %}
	    {% endfor %}
	  </small>

	</li>
	{%- endfor -%}
      </ul>
    </div>

    {%- endfor -%}

    <div class="debug col-12">
      <h2><a name="talks">Talks</a></h2>
      <ul class="debug row">
	{%- for talk in site.data.talks -%}
	<li class="debug col-12 col-xl-6 pl-1 pr-5 mb-2">
	  <div>
	    <a href="{{ talk.url }}"><span class="icon-item"><img src="{{ talk.icon }}"/></span></a>
            <a href="{{ talk.url }}">{{ talk.title }}</a>
	  </div>
	  <ul class="col">
	    {%- for place in talk.presented -%}
	    <li><small>{{ place.where }} {{ place.when }}</small></li>
	    {%- endfor -%}
	  </ul>
	</li>

	{%- endfor -%}

      </ul>
    </div>

  </div>
</div>

</div>
</div>
