---
layout: default
---

<div class="debug container mt-2">
<div class="debug row">

<div class="debug
	    col-12
	    col-sm-12
	    col-md-5
	    col-lg-4
	    col-xl-3">

  <div class="row debug justify-content-center sticky-top" style="top: 60px; z-index: 0;">

    <div class="col-8 debug
                col-sm-7
                col-md-12
                col-lg-12
                col-xl-12">

      <div class="clipme mb-3"><img class="huh img-fluid" src="images/self_perplexed.jpeg"/></div>

      <img class="rounded img-fluid mb-2" src="images/science.jpeg"
	   onclick="toggleSummary();"/>
    </div>

    <div class="debug col-12
                col-sm-5
                col-md-12
                col-lg-12
                col-xl-12">
      <h2 class="d-block d-md-none">Piotr (Peter) Mardziel</h2>

      <div class="debug row">
        <div class="col-6 col-sm-12 col-md-6">
	  <span class="nowrap">CMU Silicon Valley</span><br/>
	  Office: <span class="nowrap">B23 114</span><br/>
          <a href="mailto:piotrm@gmail.com">piotrm@gmail.com</a><br/>

          <span class="icon"><img src="images/icon_github.svg"/></span>
	  <a href="https://github.com/piotrm0"><span>piotrm0</span></a><br/>

	  <span class="icon"><img src="images/icon_bitbucket.svg"/></span>
          <a href="https://bitbucket.org/piotrm"><span>piotrm</span></a><br/>

          <span class="icon"><img src="images/icon_twitter.svg"/></span>
	  <a href="https://twitter.com/piotrm0"><span>piotrm0</span></a><br/>
        </div>

        <div class="debug col-6 col-sm-12 col-md-6">
          <a href="http://fairlyaccountable.org">
	    <img alt="Accountable Systems Lab" class="col-12 p-3" src="https://fairlyaccountable.org/images/asl_logo.png"/>
	    <br/>
	    <!-- ASL@CMU-->
	  </a>
          <a href="http://Www.cs.umd.edu/projects/PL/">
	    <img alt="Programming Languages at University of Maryland" class="col-12" src="http://www.cs.umd.edu/projects/PL/images/PLUM.svg"/><br/>
	    <!-- PLUM -->
	  </a>
	  <br/>
	</div>
      </div>
    </div>
  </div>
  </div>
  <!--/div-->

<div class="debug col-12 col-sm-12 col-md-7 col-lg-8 col-xl-9">
  <div class="debug row">
    <div class="debug col-12">
      <h2 class="d-none d-md-block"><a name="about1">Piotr (Peter) Mardziel</a></h2>
      <h2 class="d-block d-md-none"><a name="about2">About me</a></h2>
      <p>
	<span id="complex"> I work on transparency and accountability in machine learning with
          applications to security, privacy, and fairness.
	</span>
	<span id="simple"
	      style="display: none; font-family: 'Comic Sans MS', cursive, sans-serif;"> I work on
	  making computers explain themselves. I want to make sure computers do not learn sad
	  things from the sad world or remember things about us we would rather they not. This
	  makes the world not as sad and computers not as bad. Woof woof.
	</span>

        I also dabble in probabilistic programming and quantitative information flow. My interests
        include:

	<div class="row">

	{%- for cat in site.data.topics -%}
	<div class="keywords col-12 col-md-12 col-lg-6 col-xl-4">
	  {%- if cat[1].url -%}
	  <a href="{{ cat[1].url }}">
	  {%- endif -%}
	  {%- if cat[1].logo -%}
	  <img height="50" src="{{ cat[1].logo }}"/>
	  {%- endif -%}
	  {{ cat[0] }}
	  {%- if cat[1].url -%}</a>{%- endif %}
	  Topics:
	  <ul>
	    {%- for keyword in cat[1].topics -%}
	    {%- if keyword[1] >= 7 -%}
            <li><b>{{ keyword[0] }}</b></li>
            {%- elsif keyword[1] >= 5 -%}
            <li>{{ keyword[0] }}</li>
	    {%- endif -%}
	    {%- endfor -%}
	  </ul>
	</div>
	{%- endfor -%}
	</div>

      </p>

    </div>

    <!--
	<li>Accountability in ML</li>
	<ul>
	  <li>Privacy and Fairness</li>
	  <li>Interpretability</li>
	</ul>
    <li>Programming Languages</li>
    <ul>
      <li>Static Analysis</li>
      <li>Information Flow</li>
      <li>Probabilistic Programming</li>
    </ul>
    -->

    <!--div class="keywords col">
      <h3>CMU Keywords</h3>
      <ul>
	<li>Computer Systems: Security and Privacy</li>
	<ul>
	  <li>Analytics and Machine Learning</li>
	  <li>Foundations and Formal Methods</li>
	</ul>
	<li>Computer Systems: Application Domains</li>
	<ul>
	  <li>Machine learning</li>
	</ul>
	<li>Signal Processing, Communications and Controls: Data Science</li>
	<ul>
	  <li>Machine Learning</li>
	  <li>Deep Learning</li>
	</ul>
	<li>Signal Processing, Communications and Controls: Theoretical Foundations</li>
	<ul>
	  <li>Information Theory</li>
	</ul>
      </ul>
    </div-->

    {%- for epoch in site.data.projects -%}
    <div class="debug col-12">
      <h3><a name="{{ epoch[0] }}">{{ epoch[0] }}</a></h3>
      <ul class="debug row">
	{% for project_dict in epoch[1] %}
	{% assign project_name = project_dict[0] %}
	{% assign project = project_dict[1] %}
	<li class="debug col-6 col-xl-6 pr-5 pl-1 mb-2">
	  {% if project.link_url %}
	  <a href="{{ project.link_url }}">{% if project.link_name %}{{ project.link_name }}{% else %}{{ project_name }}{% endif %}</a>
	  {% else %}
  	    <span>{{ project_name }}</span>
	  {% endif %}
	    {% if project.collabs %}
	    <br/><small>with {{ project.collabs }}</small>
	    {% endif %}

	    {% if project.students %}
	    <div class="current">
	    Students:
	    {% for person in project.students %}
	    <span class="nowrap">{{ person }}</span>
	    {% endfor %}
	    </div>
	    {% endif %}
	    {% if project.former %}
	    <div class="former">
	    Former students:
	    {% for person in project.former %}
	    <span class="nowrap">{{ person }}</span>
	    {% endfor %}
	    </div>
	    {% endif %}

	</li>
	{% endfor %}
      </ul>
    </div>
    {%- endfor -%}

    <div class="debug col-12">
      <a name="service"></a>
      <h2>Service</h2>
      <div class="debug row">

	{%- for dict in site.data.service -%}
	{%- assign type = dict[0] -%}
	{%- assign items = dict[1] -%}

	<div class="debug col-12">
	  <h3>{{ type }}</h3>
	  <ul class="debug row">
	    {%- for item_dict in items -%}
	    {%- assign short = item_dict[0] -%}
	    {%- assign item = item_dict[1] -%}
	    {%- assign venue = site.data.venues[short] -%}
	    <li class="debug col-12 col-xl-6 pl-1 pr-5 mb-2">
	      {{ venue.org }}

	      {% if item.url -%}
	      <a href="{{ item.url }}">{{ venue.long }}</a>
	      {%- else -%}
	      <a href="{{ venue.url }}">{{ venue.long }}</a>
	      {%- endif %}

	      ({{ short }})

              <small>{{ item.years }}</small>

	    </li>
	    {%- endfor -%}
	  </ul>
	</div>
	{%- endfor -%}

      </div>
    </div>

    <!--
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6">
          <h2>topics</h2>
          <TMPL_INCLUDE NAME="../build/pubs/topics.shtml"/>
        </div>
        -->

    {%- for paper_types in site.data.papers -%}

      <div class="debug col-12">
	<a name="papers"></a>


      <h2>{{ paper_types[0] }}</h2>

      <ul class="debug row">

	{%- for paper_dict in paper_types[1] -%}
	{%- assign ref = paper_dict[0] -%}
	{%- assign paper = paper_dict[1] -%}
	{%- assign venue_short = paper.venue -%}
	{%- assign venue = site.data.venues[venue_short] -%}

	<li class="debug col-12 col-xl-6 pl-1 pr-5 mb-2">
	  {%- if paper.pdf -%}<a href="{{ paper.pdf }}">
	    <span class="icon-item"><img src="images/icon_pdf.png"/></span>
	  </a>{%- endif -%}
	  {%- if paper.pdf -%}<a href="{{ paper.pdf }}">{%- endif -%}
	    {{ paper.title }}
	  {%- if paper.pdf -%}</a>{%- endif -%}.<br/>
	  <small>
	    {%- if venue.long -%}
	    {{ venue.long }} ({{ venue_short }})
	    {%- else -%}
	    {{ venue_short }}
	    {%- endif -%}
	  </small>.

	  <small>{{ paper.year }}</small>.<br/>

	  <small>
	    {%- for author_name in paper.authors -%}
	    {% assign author = site.data.authors[author_name] %}
	    <a href="{{ author.url }}">{{ author_name }}</a>{% if forloop.last %}{% else %}, {% endif %}
	    {% endfor %}
	  </small>

	</li>
	{%- endfor -%}
      </ul>
    </div>

    {%- endfor -%}

    <div class="debug col-12">
      <h2><a name="talks">Talks</a></h2>
      <ul class="debug row">
	{%- for talk in site.data.talks -%}
	<li class="debug col-12 col-xl-6 pl-1 pr-5 mb-2">
	  <div>
	    <a href="{{ talk.url }}"><span class="icon-item"><img src="{{ talk.icon }}"/></span></a>
            <a href="{{ talk.url }}">{{ talk.title }}</a>
	  </div>
	  <ul class="col">
	    {%- for place in talk.presented -%}
	    <li><small>{{ place.where }} {{ place.when }}</small></li>
	    {%- endfor -%}
	  </ul>
	</li>

	{%- endfor -%}

      </ul>
    </div>

  </div>
</div>

</div>
</div>
