---
---

/* cmu colors */
/* primary */
$color-red: rgb(166, 25, 46);
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-gray-light: rgb(191, 191, 191);
$color-gray-dark: rgb(77, 77, 77);

/* secondary */
/*$color-green: rgb(0, 132, 61);*/
$color-yellow: rgb(242, 169, 0);
/*$color-blue: rgb(0, 45, 114);*/

/* web primary */
$color-cmu-red: rgb(187, 0, 0);
$color-gray: rgb(244, 244, 244);
$color-dark-gray: rgb(102, 102, 102);

/* web secondary */
$color-gold: rgb(170, 102, 0);
$color-teal: rgb(0, 102, 119);
$color-blue: rgb(34, 68, 119);
$color-green: rgb(0, 136, 85);
$color-dark-green: rgb(34, 68, 51);

.keywords small {
    color: $color-gray-light;
}

body, html {
    height: 100%;
    font-size: 1.0em;
}

a:link,
a:visited,
a:hover,
a:active {
    color: $color-green;
    text-decoration: underline;
}

a:hover {
    color: $color-blue;
}

.location {
    padding: 1ex;
    background-color: $color-gray;
    margin-bottom: 1ex;
}

.mynav {
    background-color: $color-dark-green;
    border-bottom: 1ex solid $color-green;
}

.small-bar {
    border-bottom: 0.25ex solid $color-cmu-red;
    width: 100%;
}

h1 {
    font-size: 4ex;
    border-bottom: 0.5ex solid $color-cmu-red;
}

h2 {
    font-size: 3.5ex;
    border-bottom: 0.4ex solid $color-cmu-red;
}

h3 {
    font-size: 3ex;
    border-bottom: 0.3ex solid $color-cmu-red;
}

h4 {
    font-size: 2.5ex;
    border-bottom: 0.2ex solid $color-cmu-red;
}

hr {
    margin: 1ex;
}

.nowrap {
    white-space: nowrap;
}

.icon {
    svg, img {
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
    }
}

.icon-item {
    margin-left: -2.2em;
    svg, img {
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
    }
}

.debug {
    border: 0px solid black;
}

.clipme {
  clip-path: inset(0 0 0 0 round 5px);
}

.huh:hover{
    transition: transform 120s;
    transform: rotate(80deg) scale(3.5);
    transition-timing-function: ease-in-out;
    -ms-transform: rotate(80deg) scale(2.5);
    -webkit-transform: rotate(80deg) scale(2.5);
}

.huh:not(:hover) {
    transition: transform 0.5s;
    transform: rotate(0deg);
    transition-timing-function: cubic-bezier(0.0, 1.6, 0.9, 1.0);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.keywords {
    li,ul {
	margin-left: 0ex;
    }
    li {
	font-size: 1.0em;

    }
    span {
	white-space: nowrap;
    }
}

.former {
    color: $color-dark-gray;
    font-size: small;
}

.current {
    font-size: small;
}
